html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header {
  background-color: #010409;
  padding: 20px 20px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-button__icon__box {
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 5px;
  padding: 5px;
  max-width: 32px;
  height: 32px;
}

.header-button__icon {
  border: 1px solid rgba(199, 192, 192, 0.319);
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.header-button__icon + .header-button__icon {
  margin-top: 7px;
}

.header__icon__img-link {
  width: 31.5px;
  height: 31.5px;
  border-radius: 50%;
  background-color: aliceblue;
}

.header__icon__img {
  width: 32px;
  height: 32px;
}

.header__user-link {
  max-width: 110px;
  color: #e6edf3;
}

.header__search {
  color: rgba(197, 194, 194, 0.319);
}

.header__search-box {
  border: 1px solid rgba(197, 194, 194, 0.319);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 180px;
  padding-left: 10px;
  border-radius: 10px;
}

.header__search-text1 {
  padding: 0px;
}

.header__search-text1::before {
  background-image: url("../../pictures/search.jpg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  position: relative;
  top: 5px;
}

.header__search-text2::before {
  background-image: url("../../pictures/search2.jpg");
  background-repeat: no-repeat;
  background-size: 15px 20px;
  display: inline-block;
  width: 15px;
  height: 20px;
  content: "";
  position: relative;
  top: 5px;
}

.header__search-text1::after {
  background-image: url("../../pictures/search3.jpg");
  background-repeat: no-repeat;
  background-size: 15px 20px;
  display: inline-block;
  width: 15px;
  height: 20px;
  content: "";
  position: relative;
  top: 5px;
  opacity: 0.7;
  left: 170px;
}

.header__search-text1:hover:after {
  background-color: white;
  opacity: 1;
}

.header__box2span {
  border: 1px solid rgba(197, 194, 194, 0.319);
}

.header__icon-1 {
  margin-left: 10px;
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 7px;
  padding: 0 15px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.header__icon-1 img {
  width: 32px;
  height: auto;
  border-radius: 50%;
  padding: 0;
}

.circle {
  border: none;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .header__search-text1 {
    display: none;
  }
  .header__search-box {
    padding: 16px;
    background-image: url(../../pictures/search.jpg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 700px) {
  .header__icon-1-mobile {
    display: none;
  }
  .header__user-link {
    max-width: 80px;
    color: #e6edf3;
  }
}
nav {
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__tab {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav__tab span {
  padding-left: 10px;
}

.nav__tab:hover {
  background-color: #041025;
  border: 0.3px solid rgb(252, 251, 251);
  padding: 5px 5px;
  border-radius: 7px;
}

footer {
  background-color: #0D1117;
}

#main {
  background-color: #0D1117;
}

#user__page {
  padding-top: 45px;
  padding-bottom: 100px;
}

.user__page-box {
  max-width: 300px;
}

.user__page__img-box {
  max-width: 300px;
}

.user__page__img-box img {
  border-radius: 50%;
}

.user__page-title {
  color: aliceblue;
  margin-bottom: 5px;
}

.user__page-text {
  color: #7d8590;
  margin-bottom: 15px;
}

.user__page-btn {
  padding: 5px 0;
  width: 100%;
  color: #c1d1d9;
  background-color: #21262D;
  border: none;
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 8px;
  cursor: pointer;
}

.user__page-btn:hover {
  border: 1px solid white;
  background-color: #373e4a;
}

.user__page-follow__box {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.user__page-followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__page-follow {
  color: #c1d1d9;
}

.follow-count {
  margin: 0 5px;
  color: white;
}

.user__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.user__page__data + .user__page__data {
  margin-top: 10px;
}

.user__page-follow:hover {
  color: rgb(50, 50, 229);
}

.user__page__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__page__data-title {
  margin-left: 10px;
  color: aliceblue;
}

.user__page__data-title-hov:hover {
  color: rgb(106, 106, 181);
}

.repo__page-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 900px;
}

.repo__list {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repo__list-item {
  padding: 20px;
  display: block;
  width: 440px;
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 5px;
}

.repo__list-item-box {
  max-width: 440px;
}

.repo__list-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.repo__list-item + .repo__list-item {
  margin-top: 16px;
}

.repo__list-title, .repo__list-text {
  color: aliceblue;
}

.repo__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.repo__item-link {
  color: rgb(81, 81, 231);
}

.repo__item_param {
  color: rgba(197, 194, 194, 0.319);
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 15px;
  padding: 5px 10px;
}

.repo__item-data1 {
  border: 1px solid orange;
  padding: 1px 9px;
  border-radius: 50%;
  background-color: orange;
  margin-right: 10px;
}

.repo__item-data2 {
  color: rgba(197, 194, 194, 0.319);
}

.repos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.repos__search {
  border: none;
  border: 1px solid rgba(197, 194, 194, 0.319);
  display: inline-block;
  width: 400px;
  padding: 5px 10px;
  background-color: #21262D;
  color: rgba(197, 194, 194, 0.319);
  border-radius: 10px;
}

.selection {
  border: none;
  padding: 5px 0px;
  background-color: #21262D;
  color: rgba(197, 194, 194, 0.319);
  border: 1px solid rgba(197, 194, 194, 0.319);
  border-radius: 10px;
}

.selection:hover {
  background-color: #3d4652;
  border: 1px solid rgba(216, 214, 214, 0.319);
}

.repos__new-btn {
  border: none;
  border: 1px solid rgba(216, 214, 214, 0.319);
  padding: 5px 15px;
  color: white;
  border-radius: 10px;
  background-color: rgb(27, 143, 27);
}

.repo__item-name {
  color: rgb(48, 48, 244);
  font-size: 40px;
}

.repo__item-name-box {
  margin-bottom: 40px;
}

.repos__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow__img {
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.follow__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow__list {
  width: 900px;
}

.follow__title {
  font-size: 30px;
  color: #c1d1d9;
}

.follow__title:hover {
  color: rgb(48, 48, 244);
}

.follow__title-user {
  color: #3d4652;
}

.follow__title-user:hover {
  color: rgb(48, 48, 244);
}

.follow__title-user-text {
  margin-top: 10px;
  color: #3d4652;
}/*# sourceMappingURL=main.css.map */